.choresText {
   color: rgb(49, 24, 161);
}

.choresHeading {
  font-size: 24px; 
  text-decoration: underline; 
  color: #34568B; 
}

.choresItem {
  font-style: italic; 
  color: #8A2BE2; 
  font-size: 18px; 
}


body {
  font-family: 'Arial', sans-serif; 
}
